<template>
    <div class="uk-card uk-card-default uk-card-body">
        <h2 class="uk-card-title">Информация о стране</h2>

        <table class="uk-table">

            <thead>
            <tr>
                <th>Название</th>
                <th>Флаг</th>
                <th>Код страны</th>
                <th>Официальные языки</th>
                <th>Граничащие страны</th>
                <th>Избранное</th>
            </tr>
            </thead>

            <tr>
                <td>{{ country.name }}</td>
                <td class="flag"><img :src="country.flag" :alt="country.name"/></td>
                <td>{{ country.alpha3Code }}</td>
                <td><span v-for="lang in country.languages">{{ lang.name }}<br></span></td>
                <td>
                    <span class="uk-link" v-for="code in country.borders" v-on:click="showBordered(code)">
                    {{ code }}
                    </span> &nbsp;
                </td>
                <td><FavoriteManager v-bind:country="country"/></td>
            </tr>

        </table>


    </div>
</template>

<script>
    import FavoriteManager from './FavoriteManager'

    export default {
        name: 'CountryInformation',
        components: {
            FavoriteManager
        },
        props: ['country'],
        methods: {
            showBordered: function (code) {
                this.$emit('show-country-by-code', code);
            }
        },
    }
</script>

<style>
    .flag img {
        max-width: 50px;
    }
</style>