<template>

    <span class="uk-link" v-if="inFavorites" v-on:click="unfavor">Из избранного</span>

    <span class="uk-link" v-else v-on:click="favor">В избранное</span>

</template>

<script>
    export default {
        name: 'FavoriteManager',
        props: ['country'],
        methods: {
            favor: function () {
                this.$store.dispatch('addCountry', this.country);
            },
            unfavor: function () {
                this.$store.dispatch('removeCountry', this.country);
            }
        },
        computed: {
            inFavorites: function () {
                return this.$store.getters.inFavorites(this.country);
            }
        },
    }
</script>