<template>

    <div>

        <CountryInformation
                v-if="hasCurrentCountry"
                v-bind:country="currentCountry"
                v-on:show-country-by-code="handleShowCountryByCode"
        />

        <h2 v-if="error">
            {{ error }}
        </h2>

        <SearchResults
                v-if="countriesCount > 1"
                v-show="countriesCount"
                v-bind:countries="countries"
                v-on:show-more="handleShowCountry"
        />

    </div>

</template>

<script>

    import SearchResults from './SearchResults'
    import CountryInformation from './CountryInformation'

    export default {
        name: 'MainContent',
        components: {
            SearchResults,
            CountryInformation
        },
        props: ['response'],
        data: function () {
            return {
                currentCountry: null,
                countries: [],
                error: '',
            }
        },
        methods: {
            handleShowCountry: function (country) {
                this.currentCountry = country;
            },
            handleShowCountryByCode: function (code) {
                this.$emit('show-country-by-code', code);
            }
        },
        computed: {
            countriesCount: function () {
                return this.countries.length;
            },
            hasCurrentCountry: function () {
                return this.currentCountry !== null;
            }
        },
        watch: {
            response: function (response) {
                this.error = '';

                if (response.status === 404) {
                    this.countries = [];
                    this.error = 'Ничего не найдено (:';
                } else {
                    if (Array.isArray(response.data)) {
                        this.countries = response.data;
                    } else {
                        this.countries = [response.data];
                    }
                }

                if (this.countries.length === 1) {
                    this.handleShowCountry(this.countries[0]);
                } else {
                    this.handleShowCountry(null);
                }
            }
        }
    }

</script>