<template>
    <div class="uk-card uk-card-default uk-card-body">

        <h2 class="uk-card-title">Избранные страны</h2>

        <table class="uk-table uk-table-striped" v-if="countries.length > 0">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(country, index) in countries">
                <td>{{ index }}</td>
                <td>{{ country.name }}</td>
                <td>
                    <FavoriteManager v-bind:country="country"/>
                </td>
            </tr>
            </tbody>
        </table>

        <h5 v-if="countries.length == 0">У вас нет избранных стран</h5>

    </div>
</template>

<script>
    import FavoriteManager from './FavoriteManager'

    export default {
        name: 'MyFavorites',
        components: {
            FavoriteManager
        },
        data: function () {
            return {
                countries: this.$store.getters.countries
            }
        }
    }
</script>