<template>
    <div class="uk-card uk-card-default uk-card-body">

        <h2 class="uk-card-title">Поиск</h2>

        <div class="uk-grid">

            <div class="uk-form-width-medium">
                <input type="text" class="uk-input" placeholder="Искать тут" v-model="search_word"/>
            </div>

            <div class="uk-form-width-small">
                <button class="uk-button uk-button-default" v-on:click="find">Поиск</button>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'SearchForm',
        data: function () {
            return {
                search_word: ''
            }
        },
        methods: {
            find: function () {
                if (this.search_word.length) {
                    this.$emit('search', this.search_word);
                } else {
                    alert('Введите название страны');
                }
            },
        }
    }
</script>