<template>

    <div class="uk-card uk-card-default uk-card-body">

        <h2 class="uk-card-title">Результаты поиска</h2>

        <table>
            <thead>
            <tr>
                <th width="60%">Название</th>
                <th>Действие 1</th>
                <th>Действие 2</th>
            </tr>
            </thead>

            <tr v-for="country in countries">
                <td>{{ country.name }}</td>
                <td><span class="uk-link" v-on:click="showMore(country)">Подробнее</span></td>
                <td><FavoriteManager v-bind:country="country"/></td>
            </tr>
        </table>

    </div>
</template>

<script>
    import FavoriteManager from './FavoriteManager'

    export default {
        name: 'SearchResults',
        props: ['countries'],
        components: {
            FavoriteManager
        },
        methods: {
            showMore: function (country) {
                this.$emit('show-more', country);
            },
        },
    }
</script>