<template>
    <div id="app">

        <div class="uk-container uk-container-large">

            <h1>Поисковик стран от Владимира</h1>

            <div class="uk-grid">

                <div class="uk-width-3-5">
                    <SearchForm v-on:search="handleSearchCountry"/>

                    <MainContent v-bind:response="response" v-on:show-country-by-code="handleSearchCountryByCode"/>
                </div>

                <div class="uk-width-2-5">
                    <MyFavorites/>
                </div>

            </div>

        </div>

    </div>
</template>

<script>
    import SearchForm from './components/SearchForm'
    import MainContent from './components/MainContent'
    import MyFavorites from './components/MyFavorites'

    export default {
        name: 'App',
        components: {
            SearchForm,
            MainContent,
            MyFavorites,
        },
        data: function () {
            return {
                response: null
            }
        },
        methods: {
            handleSearchCountry: function (name) {
                let self = this;

                self.$store.dispatch('searchByName', name)
                    .then(function (response) {
                        self.response = response;
                    })
                    .catch(function (error) {
                        self.response = error.response;
                        console.error(error);
                    });
            },
            handleSearchCountryByCode: function (code) {
                let self = this;

                self.$store.dispatch('searchByCode', code)
                    .then(function (response) {
                        self.response = response;
                    })
                    .catch(function (error) {
                        self.response = error.response;
                        console.error(error);
                    });
            }
        },
    }
</script>
